extends main

block content  
	.content.col.s8.offset-s2
		.home-window.animated.fadeIn.ui.segment.raised
			.ui.two.column.grid

				.four.wide.column(style= "text-align: initial")
					.ui.green.card(style="height: 370px;")
						.image
							img.medium(src=''+user.img+'')
						.content
							.header= user.firstName+ ' '+user.lastName
							.meta
								span.email= user.username
							.description Short Description...

				.twelve.wide.column(style= "text-align: initial")
					.ui.segment.green(style="height: 370px;")
						a.ui.red.ribbon.label Timely Functions
						
						div.ui.right
							div#chat-menu.ui.labeled.button(tabindex="0")
								button.ui.violet.button.tiny
									i.comments.icon
									|Chat
								a.ui.basic.violet.left.pointing.label 1,048

							.ui.blue.label
								i.fa.fa-spin.history.icon.large
								#time(style="display: inline-block")

						//TAB OPTIONS
						.ui.secondary.pointing.menu(style="margin-top:40px")

							a#tabSignIn.item.active(data-tab="signIn") Sign In

							a#tabUsers.item(data-tab="users") Users

							a#tabHistory.item(data-tab="history") History

							a#tabExport.item(data-tab="export") Export

							.right.menu
								a#btnLogout.ui.item  Logout
						
						//TAB CONTENT
						.ui.active.tab.segment(data-tab="signIn" style="height: 225px; overflow-y:auto; ")
							.ui.two.column.middle.aligned.very.relaxed.stackable.grid(style="margin: 10px")
								.center.aligned.column
									.ui.small.statistic(style="display: flex")
										#signInTime.value(style="color: darkgrey")

									.ui.large.green.labeled.icon.button#btnSignIn
										i.sign.in.icon
										| Sign In

								.ui.vertical.divider Or

								.center.aligned.column
									.ui.small.statistic(style="display: flex")
										#signOutTime.value(style="color: darkgrey")

									.ui.large.green.labeled.icon.button#btnSignOut
										i.sign.out.icon
										| Sign Out
							
							#statusMsg(style="text-align: end")

						.ui.tab.segment(data-tab="users" style="height: 225px; overflow-y:auto;")
							#userList.ui.relaxed.divided.list  

						.ui.tab.segment(data-tab="history") 3

						.ui.tab.segment(data-tab="export") 4
			
			//USER SIGNIN SECTION
			.ui.one.column.grid

				.column(style= "text-align: initial; margin:10px;")
					.ui.segment.piled(style="")
						a.ui.black.ribbon.label Coworkers' Times For Today
						table#tblSignInSummary.ui.celled.table
							thead
								tr
									th User
									th Time In
									th Time Out
							tbody

	//Logout modal 
	#modalLogout.ui.basic.modal
		.ui.icon.header
			i.sign.out.icon 
			|	Confirm Logout
		.content(style="text-align: center")
			p
			|	Are you sure you want to log out of Timely ?
		.actions
			.ui.red.basic.cancel.inverted.button
				i.remove.icon  
				|	No
			.ui.green.ok.inverted.button
				i.checkmark.icon
				|	Yes

	//Sign In Modal
	#modalSignIn.ui.modal.small
		.header Confirm Sign In
		.content
			p Are you sure you want to sign in now ?
		.actions
			.ui.red.cancel.button No
			.ui.button.ok.green Yes

	//Sign Out Modal
	#modalSignOut.ui.modal.small
		.header Confirm Sign Out
		.content
			p Are you sure you want to sign out now ?
		.actions
			.ui.red.cancel.button No
			.ui.button.ok.green Yes