extends main

block content  
	.content.col.s4.offset-s4
		.content-window.animated.bounceInLeft
			#logo
				img(src="../img/logo.png" style="width:100%")
			div
				h2(style="font-weight:300")
					i.fa.fa-clock-o.fa-spin.fa-2x
					p#title Welcome to 
						b Timely
				.ui.buttons
					a#loginBtn.ui.green.button(style="width:100px") Login
					.or
					a#registerBtn.ui.blue.button(style="width:100px") Register