extends main

block content  
	.content.col.s4.offset-s4
		.content-window.animated.bounceInLeft
			div
				.form-header-content
					a#returnHomeBtn(style="position: absolute; left:0;" href="#")
							i.angle.left.icon.big(style="font-size: 3em;")

					h2(style="font-weight:300; display:inline")
						i.fa.fa-clock-o.fa-spin.fa-2x
						p#title Login to 
							b Timely

				.form-content.ui.center.aligned.basic.segment
					if (typeof(err) !== 'undefined')
						form#loginForm.ui.form.error(style="margin: 15px 0 35px 0" action="/auth/login" method="post")
							
							h4.ui.dividing.header Login Information
							.field
								input(type="email" name="username" placeholder="Email" id="email" required)
							.field
								input(type="password" name="password" placeholder="Password" id="password" required)
							button.ui.button.green(type="submit") Submit
							
							.ui.message.error(style="text-align: left")
								.header= err
								ul.errorMessages
					else if (typeof(msg) !== 'undefined')
						form#loginForm.ui.form.success(style="margin: 15px 0 35px 0" action="/auth/login" method="post")
					
							h4.ui.dividing.header Login Information
							.field
								input(type="email" name="username" placeholder="Email" id="email" required)
							.field
								input(type="password" name="password" placeholder="Password" id="password" required)
							button.ui.button.green(type="submit") Submit
							
							.ui.message.success(style="text-align: left")
								.header= msg
								ul.errorMessages
					else 
						form#loginForm.ui.form(style="margin: 15px 0 35px 0" action="/auth/login" method="post")
					
							h4.ui.dividing.header Login Information
							.field
								input(type="email" name="username" placeholder="Email" id="email" required)
							.field
								input(type="password" name="password" placeholder="Password" id="password" required)
							button.ui.button.green(type="submit") Submit
							
							.ui.message.hidden(style="text-align: left")
								.header
								ul.errorMessages
					.ui.horizontal.divider or use your
					a.ui.google.plus.button(href="/auth/google")
						i.google.icon 
						| QualityWorks Email