doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='x-ua-compatible' content='IE=edge')
        link(rel='stylesheet', href='/css/materialize.min.css')
        link(rel='stylesheet', href='/css/semantic.min.css')
        link(rel='stylesheet', href='/css/animate.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(href='//fonts.googleapis.com/css?family=Roboto:400,300|Lato:100,300' rel='stylesheet')

        body(onload="startTime()")
            header  
            div.ui.sidebar.inverted.vertical.menu
                a.item 1
                a.item 2
                a.item 3
            .container.pusher     
                .row            
                    block content

        script(src='https://cdn.socket.io/socket.io-1.2.0.js')
        script(src='/js/jquery-2.1.4.min.js')
        script(src='/js/global.js')
        script(src='/js/semantic.min.js')
        script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js")