extends main

block content  
	.content.col.s4.offset-s4
		.content-window.animated.bounceInLeft
			div
				.form-header-content
					a#returnHomeBtn(style="position: absolute; left:0;" href="#")
							i.angle.left.icon.big(style="font-size: 3em;")

					h2(style="font-weight:300; display:inline")
						i.fa.fa-clock-o.fa-spin.fa-2x
						p#title Register for 
							b Timely

				.form-content.ui.center.aligned.basic.segment
				
					if (typeof(err) !== 'undefined')
						form#registerForm.ui.form.error(style="margin: 15px 0 35px 0" action="/auth/register" method="post")
							
							h4.ui.dividing.header Personal Information
							.field
								input(type="text" name="firstName" placeholder="First Name" id="firstName" required)
							.field
								input(type="text" name="lastName" placeholder="Last Name" id="lastName" required)
							.field
								input(type="email" name="username" placeholder="Email" id="email" required)
							.field
								input(type="password" name="password" placeholder="Password" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers" id="password" required pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="form.confirm.pattern = this.value;")
							.field
								input(type="password" name="confirm" placeholder="Confirm Password" id="confirm" required pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}")
							.field
								input(type="url" name="img" placeholder="URL for profile picture (http/https)" id="img" pattern="https?://.+" required)

							button.ui.button.green(type="submit") Submit
							
							.ui.message.error(style="text-align: left")
								.header= err
								ul.errorMessages
					else 
						form#registerForm.ui.form(style="margin: 15px 0 35px 0" action="/auth/register" method="post")
					
							h4.ui.dividing.header Personal Information
							.field
								input(type="text" name="firstName" placeholder="First Name" id="firstName" required)
							.field
								input(type="text" name="lastName" placeholder="Last Name" id="lastName" required)
							.field
								input(type="email" name="username" placeholder="Email" id="email" required)
							.field
								input(type="password" name="password" placeholder="Password" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers" id="password" required pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="form.confirm.pattern = this.value;")
							.field
								input(type="password" name="confirm" placeholder="Confirm Password" id="confirm" required pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}")
							.field
								input(type="url" name="img" placeholder="URL for profile picture (http/https)" id="img" pattern="https?://.+" required)

							button.ui.button.green(type="submit") Submit
							
							.ui.message.hidden(style="text-align: left")
								.header
								ul.errorMessages

					.ui.horizontal.divider or use your
					a.ui.google.plus.button(href="/auth/google")
						i.google.icon 
						| QualityWorks Email