body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table;
	background:url("../img/bg.jpg") no-repeat center; 
	font-family: "Roboto", Helvetica, Arial, sans-serif;
  	font-size: 14px;
  	line-height: 1.42857143;
  	color: #333333;
  	background-color: #ffffff;
}

.container {
	text-align: center;
	vertical-align: middle;
	width:100%;
	display: table-cell;
	margin: 0 auto;
}

.content-window{
	padding: 30px 20px 30px 20px; 
	background-color: rgba(238,238,238, 0.6);
	border-radius: 20px;
}

.home-window{
	padding: 30px 20px 30px 20px; 
	border-radius: 5px;
}

.form-header-content{
	text-align: center;
	position: relative;
}